{% extends 'base.html' %}
{% load static %}

{% block title %}Галерея фотографий{% endblock %}
{% block body_class %}gallery-page{% endblock %}

{% block content %}
<div class="gallery">
    {% for i in "1234567891011121314"|make_list %}
    <a href="/gallery/photo/{{ forloop.counter }}/" class="photo-link">
        <div class="photo">
            <img src="{% static 'images/image-'|add:forloop.counter|add:'.png' %}" alt="Photo {{ forloop.counter }}">
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
