<!DOCTYPE html>
<html>
<head>
    <title>Тест URL</title>
</head>
<body>
    <h1>Тестирование всех URL:</h1>
    <ul>
        <li><a href="/">Главная (/)</a></li>
        <li><a href="/home/">Главная (/home/)</a></li>
        <li><a href="/prices/">Цены</a></li>
        <li><a href="/gallery/">Галерея</a></li>
        <li><a href="/login/">Вход</a></li>
        <li><a href="/logout/">Выход</a></li>
        <li><a href="/register/">Регистрация</a></li>
        <li><a href="/profile/">Профиль</a></li>
        <li><a href="/admin/">Админка</a></li>
    </ul>
</body>
</html>